$my-sizes : (
    first : 0,
    second : 10px,
    third : 15px,
    fourth : 20px
);

@function get-sizes($sizes-value) {
    @return map-get($my-sizes, $sizes-value )
}

$my-colors : (
    first : #fff,
    second : #000,
    third : rgb(46, 22, 185)
);

@function get-colors($color-value) {
    @return map-get($my-colors , $color-value )
}


@mixin getflex {
    display: flex;
    justify-content: space-evenly;
}

@mixin mytrans {
    transition: all 0.7s ease-in-out;
}

@mixin get-mobile {
    @media (max-width: 700px) {
        @content;
    }
}

@mixin get-tablet {
    @media (min-width : 700px) {
        @content;
    }
}

@mixin get-desktop {
    @media (min-width : 900px) {
        @content;
    }
}