@import "standard.css";

/*start of contact section*/
.section5 {
    display: inline-block;
    min-height: 170vh;
    background: url(/images/rest.jpg) center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-div1 {
    display: inline-block;
    width: 95%;
    border-radius:20px;
    background-color: rgb(231, 216, 216);
  }

  .contact-div1 h4 {
    font-size: 30px;
    text-align: center;
  }
  
  .get-label {
    font-size: 20px;
    font-weight: bold;
  }

  .contact-div1 input{
    background-color: rgb(231, 216, 216);
    display: block;
    width: 100%;
    height: 50px;
    font-size: 20px;
  }

  .contact-div1 #message {
    height: 140px;
    padding-bottom: 100px;
  }

  #send {
    width: 100%;
    display: block;
    height: 50px;
    color: #000;
    font-weight: bold;
  }

  #send:hover {
    color:#fff;
  }

  .book {
    border-radius:20px;
    background-color: rgb(231, 216, 216);
  }

  .book h4 {
    font-size: 30px;
    color: #0275d8;
  }

/*end of contact styling*/

/*start of info styling*/
  .info {
    background-color: rgb(231, 216, 216);
  }
  h5 {
    letter-spacing: 2px;
  }

  .submit-cont {
    border: 2px solid #0275d8;
    font-size: 20px;
  }

  

  .email a {
    font-size: 20px;
    text-decoration: none;
  }

  .email a:hover {
    text-decoration:none;
  }
/*end of info styling*/

@media only screen and (min-width:600px) {
      /*start of contact section*/
  
      .contact-div1 {
        width: 80%;
      }
    
    /*end of contact styling*/
}

@media only screen and (min-width:768px) {
/*start of contact section*/
  .contact-div1 {
    width: 60%;
  }
  /*end of contact section*/
}

@media only screen and (min-width:1024px) {
    /*start of contact styling*/
.contact-div1 {
    width: 40%;
  }
  /*end of contact styling*/
  
}