@import "standard.css";

/*start of contact section*/
.section5 {
    min-height: 150vh;
    background: url(/images/rest.jpg) center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-div1 {
    overflow: hidden;
    border-radius:20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    width: 400px;
    background-color: #fff;
    max-width: 100%;
  }

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  font-weight: bold;
}

.form-control-label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  display: block;
  width: 100%;
  height: 3rem;
  font-size: 17px;
  padding-left: 5px;
}

.form-control .success, .fail {
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}

.form-control .small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

#message {
  height: 8rem;
  padding-bottom: 100px;
}

.form button {
  display: block;
  width: 100%;
  height: 3rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  font-size: 17px;
}

.form button:hover {
  border: 2px solid #0275d8;
  background-color: #0275d8;
  color: #fff;
}

/*end of contact styling*/

/*start of info styling*/
  .info {
    background-color: rgb(231, 216, 216);
  }
  h5 {
    letter-spacing: 2px;
  }

  .email a {
    font-size: 17px;
    text-decoration: none;
  }

  .email a:hover {
    text-decoration:none;
  }
/*end of info styling*/

@media only screen and (min-width:600px) {
      /*start of contact section*/

      .submit-cont {
        display: inline-block;
        width: 70%;
      }
    
    /*end of contact styling*/
}

@media only screen and (min-width:1024px) {
    /*start of contact styling*/
  .section5 {
    min-height: 130vh;
  }
  
  .book {
    margin-top: 0;;
  }
  /*end of contact styling*/
  
}