@import "nav.css";


/*start of carousel section styling*/

.section1 {
  height: 70vh;
}

.first-img {
  height: 70vh;
  margin: 0 auto;
}

.embedded-text {
  top: 25%;
}

.embedded-text h2 {
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.embedded-text p {
  line-height: 1.5;
  font-size: 17px;
}

.embedded-text button {
  border: 2px solid #000;
}

.embedded-text button:hover {
  background-color: #000;
  border: 2px solid #000;
}

.first-a {
  color: #000;
  font-size: 17px;
  font-weight: bold;
}

.first-a:hover {
  text-decoration: none;
  color: #fff;
}
/*end of carousel section styling*/

/*start of styling for about section*/

  .section4 {
    background-color:rgb(231, 216, 216);
    color: #000;
    display: inline-block;
    min-height: 180vh;
  }

  .section4__div1 h3 {
    font-size: 50px;
    padding-top:70px;
  }

  .section4__div1 p {
    font-size: 25px;
    margin: auto;
    width: 95%;
  }

  .section4__div2 h3 {
    font-size: 30px;
  }

  .section4__div2__flex__1 {
    border: 2px solid #0275d8;
    margin: 0 auto;
    margin-top: 30px;
    width: 80%;
    padding: 5px 5px;
    border-radius: 0 50px;
  }
  
  .section4__div2__flex__1 q {
    font-size: 20px;
  }
  
  .section4__div2__flex__1 p {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
  }

  .about-btn {
    text-align: center;
  }

  .about-btn button {
    width: 40%;
    height: 3rem;
    border-radius: 0 30px;
    border: 2px solid white;
  }
  
  .about-btn button a {
    font-size: 20px;
    color: #000;
  }

/*end of styling for about section*/

/*start of contact section*/
  .section5 {
    display: inline-block;
    min-height: 120vh;
    background: url(/images/rest.jpg) center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-div1 {
    display: inline-block;
    min-height: 100vh;
    width: 95%;
    margin: auto;
    border: 2px solid #fff;
    border-radius:20px;
  }

  .contact-div1 h4 {
    font-size: 30px;
    text-align: center;
  }
  
  label {
    font-size: 20px;
    font-weight: bold;
  }

  .contact-div1 input{
    background-color: rgb(231, 216, 216);
    display: block;
    width: 100%;
    height: 50px;
    font-size: 20px;
  }

  .contact-div1 #message {
    height: 140px;
    padding-bottom: 100px;
  }

  #send {
    width: 100%;
    display: block;
    height: 50px;
    color: #000;
    font-weight: bold;
  }

/*end of contact styling*/


/*start of styling for tablet screen size*/
@media only screen and (min-width:600px) {
/*start of carousel section*/
  .embedded-text h2 {
    font-size: 40px;
  }
  /*end of carousel section*/
  
  /*start of about section*/
  .section4 {
    min-height: 150vh;
  }

  /*end of about section*/
  
  /*start of contact section*/
  
    .contact-div1 {
      width: 80%;
    }
  
  /*end of contact styling*/

}
/*end of styling for tablet screen size*/


@media only screen and (min-width:768px) {
  
  /*start of style on carousel section*/
  
    .embedded-text p {
      font-size: 20px;
      width: 70%;
      margin: auto;
    }
  
    .embedded-text button a {
      font-size: 20px;  
    }
  /*end of style for carousel section*/
  
  /*start of styling about section*/
  .section4 {
    min-height: 160vh;
  }
  
  .about-hr {
    width: 10%;
    height: 3px;
    margin: 0 auto;
  }
  
  .section4__div1 p {
    width: 80%;
  }
  
  .section4__div2__flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
  }
  
  .section4__div2__flex__1 {
    position: relative;
  }
  
  .quote-img {
    margin: auto;
    position: absolute;
    bottom: -55px;
    left: 30%;
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
  }
  
  .section4__div2__flex__1 p {
    position: absolute;
    bottom: -90px;
    left: 30%;
    margin: 0 auto;
  }
  
  .section4__div2__flex__1 {
    padding-bottom:100px;
  }
  
  .about-btn {
    padding-top: 70px;
  }
  
  .about-btn button {
    width: 25%;
  }
  /*end of styling about section*/
  
  /*start of contact section*/
  

  .contact-div1 {
    width: 60%;
  }
  /*end of contact section*/
}



/*start of styling for desktop screen size*/
@media only screen and (min-width:1024px) {

/*start of styling for carousel section*/
.embedded-text h2 {
  font-size: 50px;
  }
/*end of styling for carousel section*/

/*start of styling about section*/
.section4__div2__flex {
  grid-template-columns: 1fr 1fr 1fr;
}
/*end of styling about section*/

/*start of contact styling*/
.contact-div1 {
  width: 40%;
}
/*end of contact styling*/

}

/*end of styling for desktop screen size*/