@import "standard.css";


/*start of carousel section styling*/

.section1 {
  height: 70vh;
}

.first-img {
  height: 70vh;
  margin: 0 auto;
}

.embedded-text {
  top: 25%;
}

.embedded-text h2 {
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.embedded-text p {
  line-height: 1.5;
  font-size: 17px;
}

.embedded-text button {
  border: 2px solid #000;
}

.embedded-text button:hover {
  background-color: #0275d8;
  border: 2px solid #0275d8;
}
/*end of carousel section styling*/

/*start of styling for tablet screen size*/
@media only screen and (min-width:600px) {
/*start of carousel section*/
  .embedded-text h2 {
    font-size: 40px;
  }
  /*end of carousel section*/

}
/*end of styling for tablet screen size*/


@media only screen and (min-width:768px) {
  
  /*start of style on carousel section*/
  
    .embedded-text p {
      font-size: 20px;
      width: 70%;
      margin: auto;
    }
  
    .embedded-text button a {
      font-size: 20px;  
    }
  /*end of style for carousel section*/
}


/*start of styling for desktop screen size*/
@media only screen and (min-width:1024px) {

/*start of styling for carousel section*/
.embedded-text h2 {
  font-size: 50px;
  }
/*end of styling for carousel section*/
}
/*end of styling for desktop screen size*/