@import "standard.css";

/*start of styling for suite section*/
.section2 {
    height: 200vh;
    background-color: rgb(231, 216, 216);
  }
  /*start of styling for head section*/
  .section2__head {
    text-align: center;
    padding-top: 70px;
    color: #000;
  }
  
  .section2__head h3 {
    font-size: 35px;
  }
  
  .section2__head button a {
    font-size: 35px;
    color: #000;
  }
  
  .section2__flex {
    color: #000;
  }
  
  .btn-div button {
    height: 4rem;
    width: 40%;
    margin-top: 40px;
    border-radius: 0 30px;
  }
  
  .btn-div button a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #000;
  }
  /*end of styling for head section*/
  
  .section2__flex {
    text-align: center;
  }
  
  figcaption h4 {
    font-size: 30px;
  }
  
  figcaption h5 {
    font-size: 25px;
  }
  
  .second-img {
    display: block;
    width: 80%;
    margin: auto;
    height: 40vh;
    border-radius: 10px;
    box-shadow: -5px -5px 10px #000;
  }
  /*end of style for suite section*/
  
  /*start of styling for facilities section*/
  .section3 {
    display: inline-block;
    min-height: 170vh;
    background-color: rgb(231, 216, 216);  
  }
  
  .section3 .section2__head {
    padding-top: 50px;
  }
  
  .modal-title {
    margin: 0 auto;
    font-size: 30px;
  }
  
  
  .modal-btn span {
    font-size: 50px;
  }
  
  .modal-body p {
    font-size: 20px;
  }
  
  /*end of styling for facilities section*/

@media only screen and (min-width:600px) {

    /*start of styling for suite section*/
  
  .btn-div button {
    width: 30%;
    margin-top: 30px;
  }
  /*end of style for suite section*/

}

@media only screen and (min-width:768px) {

/*start of styling for suite section*/
  
  .section2 {
    min-height: 170vh;
  }
  
  .section2__head {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 70px;
  }
  
  .second-hr {
    margin: 0;
    justify-content: start;
  }
  
  .section2__head button {
    border-radius: 10px;
  }
  
  .section2__head button a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .section2__flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-grid;
    display: -webkit-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }

  /*end of styling for suite section*/
  
  /*start of facilities section*/
  .section3 {
    min-height: 160vh;  
  }

  .section3 .section2__head {
    padding-top: 70px;
  }
  /*end of facilities section*/

}

@media only screen and (min-width:1024px) {

/*start of styling for suite section*/
    .section2 {
        min-height: 230vh;
    }
  
  /*end of styling for suite section*/

}